*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --hexagon-bg: #d00a3d;
  --hexagon-color: #e3fe9d;
  --hexagon-bg: #1b1c14;
  --hexagon-color: #48af94;
/*   --hexagon-bg: #f06;
  --hexagon-color: #fff; */
  --code-bg: #272822;
  --hexagon-h: 7.5;
  --hexagon-w: 8;
  --h: 150;
  --w: 150;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 1rem auto;
}

.smile {
  color: #f06;
  margin-bottom: .75rem;
  border: 2px solid #f06;
  padding: 8px;
}

.pascals-triangle {
  margin: 1rem auto;
  overflow: auto;
}

.hexagon {
  width: calc(var(--hexagon-w) * 1vmin);
  height: calc(var(--hexagon-h) * 1vmin);
  background: var(--hexagon-bg);
  color: var(--hexagon-color);
  font-size: clamp(.5rem, 3vw, 1.05rem);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.interaction-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 1rem auto 0 auto;
}

.interaction-info input {
  border: 1px solid #ccc;
  padding: 2px 4px;
}

.generate-btn {
  margin-top: 10px;
}

.triangle-content {
  max-width: 50ch;
  overflow: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  padding: 8px 8px;
  background: var(--code-bg);
  color: #f1f1f1;
  display: none;
}