:root {
    --primary-color: aqua;
    --secondary-color: #36454f;
  }
  
  ::-webkit-scrollbar {
    background: #ffffff00 !important;
    width: 0.5rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #7e7e7e !important;
    border-radius: 1rem;
  }
  
  html {
    direction: ltr;
    font-size: 16px;
  }
  
  *,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iransans;
  }
  
  body {
    overflow-x: hidden;
  }
  
  li,
  ol,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    outline: none !important;
    border: none;
  }
  
  input {
    outline: none;
  }
  
  body {
    background-color: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body .calculator {
    width: 17.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--primary-color);
    color: var(--primary-color);
  }
  body .calculator__display-result {
    width: 100%;
    margin: 0 0 1rem;
    padding: 0.875rem 0;
    background: transparent;
    color: var(--primary-color);
    float: left;
    font-size: 2.5rem;
    font-weight: bold;
    border: none;
    border-bottom: 0.0625rem dashed;
  }
  body .calculator__display-result::placeholder {
    color: var(--primary-color);
    opacity: 0.5;
  }
  body .calculator__keypad-row-button {
    width: 3rem;
    height: 3rem;
    margin: 0.25rem;
    padding: 0.75rem;
    border-radius: 2rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 0.0625rem solid var(--primary-color);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
  
  .primary-button {
    background: var(--primary-color) !important;
    color: var(--secondary-color) !important;
  }
  
  .Advance {
    border: none !important;
    font-size: 0.875rem !important;
    font-weight: normal !important;
  }
  